body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  }
.content {
  margin: auto;
  width: 1280px;
  height: 1000px;
  box-shadow: 0 -9px 9px rgba(0,0,0,.8);
  }
.header-menu {
  display: flex;
  align-items: center;
  width: 1250px;
  height: 80px;
  background: linear-gradient(#2d69ad, #00346d);
  margin: auto;
  .header-logo {
    padding-right: 65px;
  }
  .header-brake {
    width: 1px;
    height: 60px;
    box-sizing: border-box;
    background-color: #aac2db;
  }
  .header-version {
    display: flex;
    align-items: center;
    padding-left: 13px;
    .verlinks {
      display: flex;
      .mob {
        background: url("../img/mob.gif");
        background-repeat: no-repeat;
        padding-left: 30px;
      }
      .text {
        background: url("../img/txt.gif");
        background-repeat: no-repeat;
        padding-left: 30px;
      }
      .classic {
        background: url("../img/classic.gif");
        background-repeat: no-repeat;
        padding-left: 30px;
      }
      a {
        font-size: 11px;
        font-weight: 600;
        font-family: roboto;
        text-decoration: none;
        color: #aac2d2;
        margin-left: 25px;
      }
      a:first-child {
        margin-left: 0px;
      }
    }
    .sociallinks {
      display: flex;
      a {
        width: 24px;
        height: 24px;
        padding-left: 12px;
      }
      a:first-child {
        margin-left: 25px;
      }
      .facebook {
        background: url("../img/facebook.gif");
        background-repeat: no-repeat;
      }
      .twitter {
        background: url("../img/twitter.gif");
        background-repeat: no-repeat;
      }
      .rss {
        background: url("../img/rss.gif");
        background-repeat: no-repeat;
      }
      .telegramm {
        background: url("../img/telegramm.gif");
        background-repeat: no-repeat;
      }
    }
  }
  .header-mirror {
    background: url("../img/map_dots.png");
    background-repeat: no-repeat;
    background-size: contain;
    img {
      margin: 30px 70px;
    }
  }
  .header-age {
    p {
      font-size: 16px;
      font-weight: 600;
      font-family: roboto;
      text-align: center;
      color: #aac2d2;
      margin: auto 14px auto 10px;
    }
  }
}
.main-content {
  display: flex;
  width: 1250px;
  margin: auto;
  padding-top: 8px;
  .left-column {
    width: 200px;
    .date-time {
      display: flex;
      .date {
        width: 65px;
      }
      p {
        text-align: center;
        padding: 8px;
        font-size: 12px;
        font-family: roboto;
        font-weight: 400;
        margin-bottom: 0px;
      }
    }
    .lastnews {
      font-size: 12px;
      font-family: roboto;
      text-decoration: none;
      color: #2e5a98;
      margin-left: 25px;
    }
    .table-contenst {
      .menu {
        margin: 0px;
        border-bottom: 1px solid #bfcfe2;
        :hover {
          background-color: #d1ebde;
        }
      }
      .menu2 {
        margin: 0px;
        border-bottom: 1px solid #bfcfe2;
      }
      .contentlink {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        font-family: roboto;
        text-decoration: none;
        color: #2e5a98;
        padding: 4px 0 4px 10px;
        margin-bottom: 1px;
        margin-top: 1px;
      }
      .archive {
        color: #189C5B;
      }
      .oldversion {
        color: white;
        background-color: #73A4CD;
      }
    }
    .search-form {
      margin-top: 40px;
      .search {
        font-size: 14px;
        font-family: roboto;
        text-decoration: none;
        color: #2e5a98;
        font-weight: bold;
      }
      .inputbox {
        font-size: 14px;
        font-weight: 400;
        width: 150px;
        height: 22px;
        margin: 0 4px 0 0;
        display: inline-block;
        color: #000;
        border: #aac2db 1px solid;
        box-sizing: border-box;
      }
      .submitbutton {
        width: 11px;
        height: 19px;
        display: inline-block;
        background: url(https://static.newsru.com/v2/img/misc/arrow_right.gif);
        background-repeat: no-repeat;
        margin-left: 5px;
        cursor: pointer;
        border: none;
      }
    }

  }
  .central-column {
    width: 670px;
    padding-right: 25px;
    padding-left: 25px;
    .top-news {
      .first {
        height: 520px;
        background-color: #e7edf5;
        border: 1px solid #fff;
        outline: 1px solid #bfcfe2;
        width: 670px;
        margin: 0 0 14px 0;
        .bigpicture {
          img {
            padding: 14px 18px 0 18px;
          }
        }
        .top-new-content {
          font-size: 20px;
          font-weight: 600;
          font-family: roboto;
          text-decoration: none;
          color: #2e5a98;
          display: flex;
          padding: 0 18px 5px 18px;
        }
        .top-new-description {
          font-size: 16px;
          font-weight: 600;
          font-family: roboto;
          text-decoration: none;
          color: black;
          display: flex;
          padding: 0 18px 0 18px;
          margin-bottom: 25px;

        }
      }
      .second {
        width: 670px;
        margin: 0 0 10px 0;
        display: flex;
        justify-content: space-between;
        .smnews {
          width: 326px;
          min-height: 275px;
          background-color: #e7edf5;
          border: 1px solid #fff;
          outline: 1px solid #bfcfe2;
        }
        .smpicture {
          display: flex;
          justify-content: center;
          a {
            padding: 15px;
          }
        }
        .sm-new-content {
          font-size: 16px;
          font-weight: 600;
          font-family: roboto;
          text-decoration: none;
          color: #2e5a98;
          padding: 15px;
          display: flex;
        }
      }
    }
  }
  .right-column {
    .ltnews {
      list-style-position: outside;
      margin-top: 0px;
      padding-top: 0px;
      padding-left: 20px;
      padding-bottom: 0px;
      li {
        list-style-image: url(data:image/gif;base64,R0lGODdhBwAHAIAAAP///xicWywAAAAABwAHAAACDIxhGaibACNzbb5UAAA7);
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 15px;
        padding-right: 5px;
        a {
          font-size: 16px;
          font-weight: 600;
          font-family: roboto;
          color: #09488f;
          text-decoration: none;
        }
      }
    }
  }
}

